@use 'base/variables' as v;
@use 'base/mixins' as m;

.main-contenedor {

    margin-top: 10rem;

    @include m.desktop {
        margin-top: 0;
    }

    .caja_bienvenida {
        background-image: linear-gradient(180deg,#121212,#59025a);
        padding: 2rem 4rem;

        .bienvenida {
            display: flex;
            justify-content: center;

            @include m.desktop {
                margin-top: 5rem;
            }

            h1 {
                font-size: 3rem;
                text-align: center;
                color: rgb(226, 226, 226);

                @include m.desktop {
                    font-size: 5rem;
                }
            }
        }

        .jose_info {
            justify-content: space-around;
            text-align: center;

            @include m.desktop {
                justify-content: center;
            }

            p {
                text-align: center;
                margin-top: 3rem;
                font-size: 1.5rem;
                margin-bottom: 0;
                color: rgb(226, 226, 226);
                padding-bottom: 2rem;
            }

            .contenedor_img {
                
                @include m.desktop {
                    display: flex;
                    align-items: center;
                }

                .jose {
                    width: 30vw;
                    min-width: 20rem;
    
                    @include m.desktop {
                        width: 20vw;
                        min-width: 30rem;
                        max-width: 40rem;
                    }
                }
            }

            .redes_sociales {
                display: flex;
                justify-content: center;
                gap: 2.5rem;

                a {
                    font-size: 3rem;
                    color: rgb(226, 226, 226);
                    transition: all .2s ease;
                }

                a:hover {
                    transform: scale(1.2);
                }
            }

            @include m.desktop {
                display: flex;

                padding: 5rem 4rem 8rem 4rem;

                .info_redes {
                    margin: auto 5rem;
                    width: 70vw;
                    max-width: 70rem;
                    
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .caja_servicios {
        color: rgb(226, 226, 226);
        background-color: #320132;
        padding: 5rem 4rem 8rem 4rem;

        h2 {
            text-align: center;
            margin: 2rem auto 4rem auto;
            font-size: 3.5rem;

            @include m.desktop {
                font-size: 4rem;
            }
        }

        .servicios {
            text-align: center;
            display: grid;
            place-items: center;
            gap: 10rem;
            grid-template-columns: repeat(1, 1fr);

            @include m.desktop {
                grid-template-columns: repeat(3, 1fr);
                margin: 0 auto;
                max-width: 130rem;
                gap: 0;
            }

            .servicio {
                width: 70%;

                .tecnologias {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                
                    img {
                        width: 10vw;
                        min-width: 4rem;
                        max-width: 6rem;
                    }
                }
            }

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;

                @include m.desktop {
                    font-size: 2rem;
                }
            }

            i {
                font-size: 5rem;
            }
        }
    }

    .caja_proyectos {
        color: rgb(226, 226, 226);
        background-color: #191919;
        padding: 4rem;
        border-top: solid 2px #a3007a;

        h2 {
            text-align: center;
            margin: 2rem auto 4rem auto;
            font-size: 3.5rem;

            @include m.desktop {
                font-size: 4rem;
            }
        }

        .proyectos {
            text-align: center;
            display: grid;
            place-items: center;
            gap: 5rem;
            grid-template-columns: repeat(1, 1fr);

            @include m.desktop {
                margin: 0 auto;
                max-width: 130rem;
                gap: 0;
            }

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;

                a {
                    color: #df00a7;
                    font-size: 1.6rem;

                    @include m.desktop {
                        font-size: 2rem;
                    }
                }

                @include m.desktop {
                    font-size: 2rem;
                }
            }

            @include m.desktop {
                grid-template-columns: repeat(3, 1fr);
            }

            .proyecto {
                img {
                    width: 13rem;
                    transition: all .3s ease;
                }
                img:hover {
                    transform: scale(1.1);
                }

                @include m.desktop {
                    width: 70%;
                }
            }
        }
    }

    .contactame {
        background-color: #320132;
        color: rgb(226, 226, 226);
        padding: 4rem;
        border-top: solid 2px #a3007a;
        border-bottom: solid 2px #a3007a;

        .caja_contactame {
            @include m.desktop {
                max-width: 100rem;
                margin: 0 auto;
            }
        }

        h2 {
            margin: 0 0 3rem 0;
            text-align: center;
            font-size: 3rem;
        }

        p {
            margin: 0 0 3rem 0;
            text-align: center;
            font-size: 1.5rem;

            @include m.desktop {
                width: 80%;
                margin: 3rem auto;
                font-size: 2rem;
            }
        }

        .redes_sociales {
            display: flex;
            justify-content: center;
            gap: 2.5rem;

            a {
                font-size: 4rem;
                color: rgb(226, 226, 226);
                transition: all .2s ease;
            }

            a:hover {
                transform: scale(1.2);
            }

            .flecha {
                display: flex;
                align-items: center;
                font-size: 4rem;
                color: rgb(251, 255, 0);                
            }

            .izquierda {
                animation: mover-izquierda 0.4s infinite alternate; /* Animación de movimiento hacia la izquierda */
            }
              
              .derecha {
                animation: mover-derecha 0.4s infinite alternate; /* Animación de movimiento hacia la derecha */
            }
              
              @keyframes mover-izquierda {
                from {
                  transform: translateX(0); /* Posición inicial */
                }
                to {
                  transform: translateX(-24px); /* Posición final */
                }
            }
              
              @keyframes mover-derecha {
                from {
                  transform: translateX(0); /* Posición inicial */
                }
                to {
                  transform: translateX(24px); /* Posición final */
                }
            }
        }
    }

}

