@use 'base/variables' as v;
@use 'base/mixins' as m;

.main-contenedor {
    
    .caja_bienvenida {
        background-image: linear-gradient(180deg,#121212,#59025a);
        padding: 2rem 4rem;

        .bienvenida {
            display: flex;
            justify-content: center;

            h1 {
                font-size: 3rem;
                text-align: center;
                color: rgb(226, 226, 226);
            }
        }

        .jose_info {
            justify-content: space-around;
            text-align: center;

            p {
                text-align: center;
                margin-top: 3rem;
                font-size: 1.5rem;
                margin-bottom: 0;
                color: rgb(226, 226, 226);
                padding-bottom: 2rem;
            }

            .jose {
                width: 30vw;
                min-width: 23rem;

                @include m.desktop {
                    width: 35rem;
                }
            }

            .redes_sociales {
                display: flex;
                justify-content: center;
                gap: 2.5rem;

                a {
                    font-size: 3rem;
                    color: rgb(226, 226, 226);
                    transition: all .2s ease;
                }

                a:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .caja_servicios {
        color: rgb(226, 226, 226);
        background-color: #320132;
        padding: 4rem;

        h2 {
            text-align: center;
            margin: 2rem auto 4rem auto;
            font-size: 3.5rem;
        }

        .servicios {
            text-align: center;
            display: grid;
            place-items: center;
            gap: 5rem;
            grid-template-columns: repeat(1, 1fr);

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
            }

            @include m.desktop {
                grid-template-columns: repeat(3, 1fr);
            }

            i {
                font-size: 5rem;
            }
        }
    }

    .caja_proyectos {
        color: rgb(226, 226, 226);
        background-color: #191919;
        padding: 4rem;
        border-top: solid 2px #a3007a;

        h2 {
            text-align: center;
            margin: 2rem auto 4rem auto;
            font-size: 3.5rem;
        }

        .proyectos {
            text-align: center;
            display: grid;
            place-items: center;
            gap: 5rem;
            grid-template-columns: repeat(1, 1fr);

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;

                a {
                    color: #df00a7;
                    font-size: 1.6rem;
                }
            }

            @include m.desktop {
                grid-template-columns: repeat(3, 1fr);
            }

            .proyecto {
                img {
                    width: 13rem;
                    transition: all .3s ease;
                }
                img:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .contactame {
        background-color: #320132;
        color: rgb(226, 226, 226);
        padding: 4rem;
        border-top: solid 2px #a3007a;
        border-bottom: solid 2px #a3007a;

        h2 {
            margin: 0 0 3rem 0;
            text-align: center;
            font-size: 3rem;
        }

        p {
            margin: 0 0 3rem 0;
            text-align: center;
            font-size: 1.5rem;
        }

        .redes_sociales {
            display: flex;
            justify-content: center;
            gap: 2.5rem;

            a {
                font-size: 4rem;
                color: rgb(226, 226, 226);
                transition: all .2s ease;
            }

            a:hover {
                transform: scale(1.2);
            }

            .flecha {
                display: flex;
                align-items: center;
                font-size: 4rem;
                color: rgb(251, 255, 0);                
            }

            .izquierda {
                animation: mover-izquierda 0.4s infinite alternate; /* Animación de movimiento hacia la izquierda */
            }
              
              .derecha {
                animation: mover-derecha 0.4s infinite alternate; /* Animación de movimiento hacia la derecha */
            }
              
              @keyframes mover-izquierda {
                from {
                  transform: translateX(0); /* Posición inicial */
                }
                to {
                  transform: translateX(-24px); /* Posición final */
                }
            }
              
              @keyframes mover-derecha {
                from {
                  transform: translateX(0); /* Posición inicial */
                }
                to {
                  transform: translateX(24px); /* Posición final */
                }
            }
        }
    }

}

